<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disapperaing Ninja</title>
</head>
<body>
    {% if message == "none" %}
        <h1>No Ninjas here!</h1>
    {% elif message == "all" %}
        <img src="{{ url_for('static', filename='images/tmnt.png') }}">
    
    {% elif color == "blue" %}
        <img src="{{ url_for('static', filename='images/leonardo.jpg') }}">
    {% elif color == "orange" %}
        <img src="{{ url_for('static', filename='images/michelangelo.jpg') }}">
    {% elif color == "red" %}
        <img src="{{ url_for('static', filename='images/raphael.jpg') }}">
    {% elif color == "purple" %}
        <img src="{{ url_for('static', filename='images/donatello.jpg') }}">
    {% else %}
        <img src="{{ url_for('static', filename='images/notapril.jpg') }}">
    {% endif %}

</body>
</html>